In [ ]:
import pandas as pd
from scipy.stats import pearsonr

In [ ]:
df = pd.read_csv("/content/cleaned_sales_dataset.csv")
print(df.head())
df.info()

  Invoice_ID Invoice_Date Customer_ID Customer_DOB Product_ID  \
0    INV1000   12-04-2024      CUST48   1984-01-25         P7
1    INV1001   12-14-2024     CUST128   1986-01-15        P11
2    INV1002   27-09-2024     CUST145   1992-02-14        P20
3    INV1003   16-04-2024     CUST115   1990-08-08        P16
4    INV1004   12-03-2024      CUST22   1988-07-19         P4

  Product_Category  Quantity  Unit_Price  Total_Amount Payment_Mode Country  \
0            Books         3     1101.52       1914.95          UPI      UK
1      Accessories         2      518.37       2422.63         Cash   india
2         Clothing         1     1495.76       4974.80         Cash     Usa
3      Accessories         2     1470.68        532.19         Cash   India
4            Books         5     1001.39        842.76         Cash      UK

  Order_Status Invoice_Date_Clean Country_Clean Payment_Mode_Clean  \
0     Returned         2024-12-04            UK                UPI
1    Completed         2024-12-14         india               Cash
2     Returned         2024-09-27           USA               Cash
3       Failed         2024-04-16         india               Cash
4       Failed         2024-12-03            UK               Cash

   Total_Amount_Clean Customer_ID_Clean  Customer_Age
0             3304.56            CUST48            40
1             1036.74           CUST128            38
2             1495.76           CUST145            32
3             2941.36           CUST115            34
4             5006.95            CUST22            36
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Invoice_ID          300 non-null    object
 1   Invoice_Date        300 non-null    object
 2   Customer_ID         268 non-null    object
 3   Customer_DOB        300 non-null    object
 4   Product_ID          300 non-null    object
 5   Product_Category    300 non-null    object
 6   Quantity            300 non-null    int64
 7   Unit_Price          300 non-null    float64
 8   Total_Amount        266 non-null    float64
 9   Payment_Mode        300 non-null    object
 10  Country             300 non-null    object
 11  Order_Status        300 non-null    object
 12  Invoice_Date_Clean  300 non-null    object
 13  Country_Clean       300 non-null    object
 14  Payment_Mode_Clean  300 non-null    object
 15  Total_Amount_Clean  300 non-null    float64
 16  Customer_ID_Clean   300 non-null    object
 17  Customer_Age        300 non-null    int64
dtypes: float64(3), int64(2), object(13)
memory usage: 42.3+ KB

In [ ]:


analysis_df = df[['Customer_Age', 'Total_Amount_Clean']].dropna()

corr_value, p_value = pearsonr(
    analysis_df['Customer_Age'],
    analysis_df['Total_Amount_Clean']
)

print(f"Correlation Coefficient: {corr_value:.3f}")
print(f"P-value: {p_value:.5f}")

Correlation Coefficient: 0.021
P-value: 0.71510